@use '../abstracts/mixins' as *;

.button {
  font-weight: 700;
  transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;

  &__primary {
    border: 2px solid var(--workit-clr-secondary);
    background-color: var(--workit-clr-secondary);
    color: var(--workit-clr-primary);
    padding: 0.625rem 1.375rem;
    line-height: 2rem;

    &:hover {
      background-color: var(--workit-clr-primary);
      color: var(--workit-clr-secondary);
    }
  }

  &__secondary {
    border-bottom: 3px solid var(--workit-clr-secondary);
    color: white;

    &:hover {
      color: var(--workit-clr-secondary);
    }
  }
}

@include breakpoints('lg') {
  .button {
    &__primary {
      padding: 0.75rem 1.875rem;
    }
  }
}
