@use '../abstracts/mixins' as *;

.button {
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  min-width: 8.3125rem;
  padding: 0.875rem 1.25rem;

  &__primary {
    border: 2px solid var(--workit-clr-secondary);
    background-color: var(--workit-clr-secondary);
    color: var(--workit-clr-primary);

    &:hover {
      background-color: var(--workit-clr-primary);
      color: var(--workit-clr-secondary);
    }
  }

  &__secondary {
    border-bottom: 3px solid var(--workit-clr-secondary);
    color: white;
    padding: 0 0 0.25rem 0;
    width: auto;
  }
}
