.button {
  padding: 1rem 1.5rem;
  font-weight: 600;
  width: 11.875rem;
  border: 2px solid var(--workit-clr-secondary);
  transition: background-color 0.3s ease-in-out;

  &__primary {
    background-color: var(--workit-clr-secondary);
    color: var(--workit-clr-primary);
  }

  &__primary:hover {
    background-color: var(--workit-clr-primary);
    color: var(--workit-clr-secondary);
  }
}
