.cta {
  background: url('data:image/svg+xml,\
  <svg xmlns="http://www.w3.org/2000/svg"\
  viewBox="0 0 200 100"\
  preserveAspectRatio="none">\
  <path d="M 0,0\
           L 200,0\
           L 200,80\
           Q 100,90 0,80\
           Z" fill="hsla(273, 85%, 13%, 1)"/>\
  </svg>')
    no-repeat;
  background-size: cover;
  color: white;
  width: 100%;

  &__action {
    margin-top: 8.125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  &__button {
  }

  &__image {
    margin-top: 1.5rem;
    width: 320px;
    height: auto;
  }
}
