@use '../abstracts/mixins' as *;

.cta {
  background: url('/assets/images/cta-bg-rrect.svg') top center / cover no-repeat;
  color: white;
  width: 100%;
  padding-inline: 1rem;
  position: relative;
  overflow: hidden;

  &__content {
    margin-top: 7.75rem;
    text-align: center;
    display: grid;
    justify-items: center;
    gap: 2.5rem;
  }

  &__title {
    font-weight: 400;
    letter-spacing: -0.06ch;
    margin-top: 0.25rem;

    max-width: 573px;
  }

  &__image {
    margin-top: 1.5rem;
    width: 320px;
    height: auto;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  &::before {
    background: url('/assets/images/bg-pattern-1.svg') no-repeat;
    top: 116px;
    left: -175px;
  }

  &::after {
    background: url('/assets/images/bg-pattern-2.svg') no-repeat;
    right: -240px;
    top: 300px;
  }
}

@include breakpoints('md') {
  .cta {
    &__image {
      width: 514px;
    }

    &::before,
    &::after {
      content: '';
      opacity: 1;
    }
  }
}

@include breakpoints('lg') {
  .cta {
    &__image {
      margin-top: 1rem;
      width: 767px;
    }

    &::before {
      left: -155px;
    }

    &::after {
      right: -200px;
    }
  }
}
