@use '../abstracts/mixins' as *;

.features {
  background: url('/assets/images/ft-bg-rrect.svg') top center / cover no-repeat, white;
  background-size: cover;
  display: grid;
  gap: 2.5rem;
  justify-items: center;
  padding: 4rem 1rem 5.875rem;
}

.feature {
  display: grid;
  justify-items: center;
  gap: 1.25rem;

  text-align: center;
  color: var(--workit-clr-primary);
  width: var(--workit-width-sm);

  &__number {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 400;
    border: 1px solid var(--workit-clr-dark);
    border-radius: 50%;
    font-family: 'Fraunces', serif;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    font-weight: 500;
    letter-spacing: -0.1ch;
  }
}

@include breakpoints('md') {
  .feature {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
    text-align: left;
    width: auto;
    max-width: var(--workit-width-md);

    &__number {
      grid-row: 1 / 3;
      align-self: center;
    }

    &__heading {
      justify-self: left;
    }
  }
}

@include breakpoints('lg') {
  .features {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    max-width: var(--workit-width-lg);
    align-items: baseline;

    .feature {
      grid-template-columns: 1fr;
      text-align: center;

      &__number {
        align-self: initial;
        grid-row: auto;
        justify-self: initial;
      }

      &__heading {
        justify-self: center;
      }
    }
  }
}
