.founder {
  width: 100%;
  padding-inline: 1rem;

  &__image {
    width: 100%;
    height: auto;
    padding: 2rem;
  }

  &__message {
    background-color: var(--workit-clr-primary);
    color: white;
    padding: 2rem;
    display: grid;
    text-align: center;
    gap: 1rem;
  }

  &__heading {
    font-weight: 500;
  }

  &__demo {
  }

  &__button {
    width: auto;
  }
}
