@font-face {
  font-family: 'Fraunces';
  src: url('/public/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('/public/assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}