@use '../abstracts/mixins' as *;

@font-face {
  font-family: 'Fraunces';
  src: url('/public/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('/public/assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

@mixin heading-lg {
  font-size: 5rem;
  line-height: 5rem;
}

@mixin heading-md {
  font-size: 3.5rem;
  line-height: 4rem;
}

@mixin heading-sm {
  font-size: 2rem;
  line-height: 2.5rem;
}

body {
  font-size: 1.5rem;
  line-height: 2rem;
}

.font-fraunces {
  font-family: 'Fraunces', sans-serif;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}