/* CSS Reset */
/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullets/numbers) */
ul,
ol,
menu,
* li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove default hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

/* Remove default outline styles */
button,
input,
textarea,
select {
  outline: none;
  border: none;
  font: inherit;
  color: inherit;
}

/* Set the default button behavior */
button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.underline {
  text-decoration: underline 4px solid var(--workit-clr-secondary);
  text-underline-offset: 0.5rem;
}

:root {
  --workit-clr-primary: hsla(273, 85%, 13%, 1);
  --workit-clr-secondary: hsla(150, 100%, 63%, 1);
  --workit-clr-dark: hsla(271, 12%, 34%, 1);
  --workit-clr-light: hsla(276, 100%, 99%, 1);
}

:root {
  --workit-width-sm: 22rem;
  --workit-width-md: 35.875rem;
  --founder-width-md: 43.125rem;
  --founder-width-lg: 69.5rem;
  --founder-height-md: 32.875rem;
  --founder-height-lg: 40.5rem;
  --workit-width-lg: 70rem;
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces 144";
  src: url("/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Manrope", "Poppins", system-ui, "sans-serif";
  font-size: 1rem;
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", "Georgia", "Times New Roman", serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

@media (min-width: 48rem) {
  h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}
@media (min-width: 62rem) {
  body {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
header {
  width: 100%;
  position: absolute;
  top: 2rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.footer .social {
  display: grid;
  grid-template: "a a a" auto "b c d" 1fr;
  justify-items: center;
  row-gap: 3.625rem;
  column-gap: 1.75rem;
}
.footer .social__link--workit {
  grid-area: a;
}
.footer .social__link--facebook {
  grid-area: b;
}
.footer .social__link--twitter {
  grid-area: c;
}
.footer .social__link--instagram {
  grid-area: d;
}

.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

@media (min-width: 48rem) {
  .menu {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 62rem) {
  .menu {
    padding-inline: 0.25rem;
    max-width: var(--workit-width-lg);
  }
}
.cta {
  background: url("/assets/images/cta-bg-rrect.svg") top center/cover no-repeat;
  color: white;
  width: 100%;
  padding-inline: 1rem;
  position: relative;
  overflow: hidden;
}
.cta__content {
  margin-top: 7.75rem;
  text-align: center;
  display: grid;
  justify-items: center;
  gap: 2.5rem;
}
.cta__title {
  font-weight: 400;
  letter-spacing: -0.06ch;
  margin-top: 0.25rem;
  max-width: 573px;
}
.cta__image {
  margin-top: 1.5rem;
  width: 320px;
  height: auto;
}
.cta::before, .cta::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.cta::before {
  background: url("/assets/images/bg-pattern-1.svg") no-repeat;
  top: 116px;
  left: -175px;
}
.cta::after {
  background: url("/assets/images/bg-pattern-2.svg") no-repeat;
  right: -240px;
  top: 300px;
}

@media (min-width: 48rem) {
  .cta__image {
    width: 514px;
  }
  .cta::before, .cta::after {
    content: "";
    opacity: 1;
  }
}
@media (min-width: 62rem) {
  .cta__image {
    margin-top: 1rem;
    width: 767px;
  }
  .cta::before {
    left: -155px;
  }
  .cta::after {
    right: -200px;
  }
}
.features {
  background: url("/assets/images/ft-bg-rrect.svg") top center/cover no-repeat, white;
  background-size: cover;
  display: grid;
  gap: 2.5rem;
  justify-items: center;
  padding: 4rem 1rem 5.875rem;
}

.feature {
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  text-align: center;
  color: var(--workit-clr-primary);
  width: var(--workit-width-sm);
}
.feature__number {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 400;
  border: 1px solid var(--workit-clr-dark);
  border-radius: 50%;
  font-family: "Fraunces", serif;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__heading {
  font-weight: 500;
  letter-spacing: -0.1ch;
}

@media (min-width: 48rem) {
  .feature {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
    text-align: left;
    width: auto;
    max-width: var(--workit-width-md);
  }
  .feature__number {
    grid-row: 1/3;
    align-self: center;
  }
  .feature__heading {
    justify-self: left;
  }
}
@media (min-width: 62rem) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    max-width: var(--workit-width-lg);
    align-items: baseline;
  }
  .features .feature {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .features .feature__number {
    align-self: initial;
    grid-row: auto;
    justify-self: initial;
  }
  .features .feature__heading {
    justify-self: center;
  }
}
.founder {
  width: var(--workit-width-sm);
  display: grid;
  justify-items: center;
}
.founder__image {
  width: 281px;
  height: auto;
  position: relative;
  top: 3.25rem;
  z-index: -1;
}
.founder__message {
  background-color: var(--workit-clr-primary);
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.founder__message::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.founder__message::before {
  background: url("/assets/images/bg-pattern-3.svg") no-repeat;
  bottom: 10px;
  left: -1%;
}
.founder__heading {
  font-weight: 500;
  margin-bottom: 1rem;
}
.founder__description {
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .founder {
    width: var(--founder-width-md);
    height: var(--founder-height-md);
    grid-template-columns: 25% 75%;
  }
  .founder__message {
    padding: 3rem 3.5rem 3.5rem;
    text-align: left;
    align-self: end;
  }
  .founder__heading {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 62rem) {
  .founder {
    width: var(--founder-width-lg);
    height: var(--founder-height-lg);
    grid-template-columns: 35% 65%;
  }
  .founder__image {
    width: 477px;
  }
  .founder__message {
    padding: 4rem;
  }
  .founder__heading, .founder__description {
    margin-bottom: 2rem;
  }
  .founder__heading {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.button {
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-wrap: nowrap;
}
.button__primary {
  border: 2px solid var(--workit-clr-secondary);
  background-color: var(--workit-clr-secondary);
  color: var(--workit-clr-primary);
  font-size: 1rem;
  padding: 0.625rem 1.375rem;
  line-height: 2rem;
}
.button__primary:hover {
  background-color: var(--workit-clr-primary);
  color: var(--workit-clr-secondary);
}
.button__secondary {
  border-bottom: 3px solid var(--workit-clr-secondary);
  color: white;
}

/*# sourceMappingURL=style.css.map */
