:root {
  --workit-clr-primary: hsla(273, 85%, 13%, 1);
  --workit-clr-secondary: hsla(150, 100%, 63%, 1);
  --workit-clr-dark: hsla(271, 12%, 34%, 1);
  --workit-clr-light: hsla(276, 100%, 99%, 1);
}
