:root {
  --workit-width-sm: 22rem;
  --workit-width-md: 35.875rem;
  --founder-width-md: 43.125rem;
  --founder-width-lg: 69.5rem;
  --founder-height-md: 32.875rem;
  --founder-height-lg: 40.5rem;
  --workit-width-lg: 70rem;
}
