@use '../abstracts/mixins' as *;

@font-face {
  font-family: 'Fraunces';
  src: url('/public/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Fraunces 144';
  src: url('/public/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('/public/assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}

@mixin heading-lg {
  font-size: 5rem;
  line-height: 5rem;
}

@mixin heading-md {
  font-size: 3.5rem;
  line-height: 4rem;
}

@mixin heading-sm {
  font-size: 2rem;
  line-height: 2.5rem;
}

@mixin heading-xs {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

body {
  font-family: 'Manrope', 'Poppins', system-ui, 'sans-serif';
  font-size: 1rem;
  line-height: 1.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fraunces', 'Georgia', 'Times New Roman', serif;
}

h1 {
  @include heading-md;

  @include breakpoints(md) {
    @include heading-lg;
  }
}

h2 {
  @include heading-sm;

  @include breakpoints(md) {
    @include heading-md;
  }
}

h3 {
  @include heading-xs;

  @include breakpoints(md) {
    @include heading-sm;
  }
}
