$breakpoints: (
  xs: 0,
  // 256px
  sm: 16rem,
  // 768px
  md: 48rem,
  // 992px
  lg: 62rem,
  // 1200px
  xl: 75rem
);

@mixin breakpoints($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unknown breakpoint: #{$breakpoint}.";
    @media (min-width: map-get($breakpoints, xs)) {
      @content;
    }
  }
}
